.glass-card {
  @apply rounded-3xl bg-white bg-opacity-60 backdrop-blur-md shadow-2xl border-t-2 border-fuchsia-200 p-8;
}
.chip {
  @apply px-4 py-2 rounded-full border border-gray-200 hover:ring-2 font-semibold cursor-pointer shadow-md;
}
.fab {
  @apply w-14 h-14 rounded-full flex items-center justify-center text-3xl font-bold shadow-lg text-white outline-none transition transform hover:scale-125 ring-2 ring-white;
}
.react-calendar {
  @apply !rounded-xl !border-0 !shadow-lg !w-full !mb-2 !bg-opacity-30 !bg-white;
}
.react-calendar__tile {
  @apply !rounded-xl !h-12 !w-12 !transition font-semibold;
}
.react-calendar__tile--active {
  @apply !bg-fuchsia-500 !text-white !scale-110;
}
.react-calendar__tile--now {
  @apply !bg-pink-200;
}
@media (max-width: 900px) {
  .custom-width-full { width: 100% !important;}
  .absolute { position: static !important; }
  .glass-card { margin-bottom: 2rem;}
}
